@charset "ISO-8859-1";

/* Cascading Style Sheet for HOST main page */

body {
  font-family: Helvetica, sans-serif;
}

table, th, tr, td {
    text-align: left;
    /* border: 1px solid black; */
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.title-highlight {
    font-weight:300;
    font-size:20px;
    color:#0D1DE0;
}

.title-name {
    font-weight:400;
    font-size:24px;
    color:#0D1DE0;
}

.custom_button {
    padding:5px;
    border-radius:8px;
    background-color:#fbe739ab;
    height:30px;
}

#cmd_output {
	font-weight: 200;
	font-size: 14px;
	color:rgb(255, 128, 0);
}
